<div id='container' ng-controller='ShortenController'>
<h1>Shorten All Your URLS</h1>

<nav class="navigation">
  <ul>
    <li>
      <a class="selected" href="#/links">Links</a>
    </li>
    <li>
      <a href="#/shorten">Shorten</a>
    </li>
  </ul>
</nav>






  <formly-form>
    <input class="form" ng-model="link.url" name="Link" placeholder="Enter your link"/>
      <button type="submit" class="btn btn-default" ng-click="addLink(url)">Submit</button>
  </formly-form>


  <h4>For developer eyes only {{ url.link }}</h4>
