<div id='container'>
  <h1>All of my shortened links</h1>
  <nav class="navigation">
    <ul>
      <li>
        <a class="selected" href="#/links">Links</a>
      </li>
      <li>
        <a href="#/shorten">Shorten</a>
      </li>
    </ul>
  </nav>



  <label>Search all the things with magical Angularness: <input ng-model="searchText"></label>
  <div class="links">
      <div class="link" ng-repeat="links in data.links | orderBy:'-visits'| filter:searchText">
        <span><img src=/assets/redirect_icon.png></span>
        <span class="title">{{ links.title }}<span>
        <a href="{{ links.baseUrl }}/{{ links.code }}">{{ links.baseUrl }}/{{ links.code }}</a>
        <span class="">{{ links.url }}<span>
        <span class="info">{{ links.code }}<span>
        <span class=" link visits count">{{ links.visits }}<span>Visits
      </div>
  </div>
</div>
